{{#if userStatus}}
<div class="alert alert-{{userStatus}} alert-dismissible fade show" role="alert">
    <strong>{{userStatus}}</strong> {{userAlert}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/if}}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="text-center">
        <h1>Register</h1>
      </div>
      <div class="main-content-agile mt-4">
        <div class="sub-main-w3">
          <form action="/auth/register" method="post"> 
                <div class="form-group">
                  <div class="input-group">
                    <input placeholder="Name" name="name" id="name" class="form-control" type="text" required>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa-regular fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <small id="name-error" class="form-text text-danger"></small>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input placeholder="UserName" name="username" id="username" class="form-control" type="text" required>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa-solid fa-user"></i>
                      </div>
                    </div>
                  </div>
                  <small id="username-error" class="form-text text-danger"></small>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa-solid fa-lock"></i>
                      </div>
                    </div>
                  </div>
                  <small id="password-error" class="form-text text-danger"></small>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <input type="password" class="form-control" id="confirm-password" placeholder="Confirm Password"required>
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <i class="fa-solid fa-unlock-keyhole"></i>
                      </div>
                    </div>
                  </div>
                  <small id="password-confirm-error" class="form-text text-danger"></small>
                </div>
                <div class="form-group">
                  <div class="d-flex justify-content-center align-items-center">
                    <div>
                        <input type="submit" value="Create" id="submit-btn" class="btn btn-primary" disabled>
                    </div>
                  </div>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
var nameInput = document.getElementById("name");
var usernameInput = document.getElementById("username");
var passwordInput = document.getElementById("password");
var confirmpasswordInput = document.getElementById("confirm-password");
var nameerror = document.getElementById("name-error");
var usernameerror = document.getElementById("username-error");
var passworderror = document.getElementById("password-error");
var confirmpassworderror = document.getElementById("password-confirm-error");
var submitBtn = document.getElementById("submit-btn");

nameInput.addEventListener("input", validatename);
usernameInput.addEventListener("input", validate);
passwordInput.addEventListener("input", validate);
confirmpasswordInput.addEventListener("input", validate);

function validatename() {
  var name = nameInput.value;
  var username = usernameInput.value;
  var password = passwordInput.value;
  var confirmpassword = confirmpasswordInput.value;

  if (!name) {
    if (!username) {
      if (!password) {
        if (!confirmpassword) {
          nameerror.textContent = "";
          usernameerror.textContent = "";
          passworderror.textContent = "";
          confirmpassworderror.textContent = "";
          submitBtn.disabled = true;
        } else {
          nameerror.textContent = "Name không được trống";
          usernameerror.textContent = "UserName không được trống";
          passworderror.textContent = "Password không được trống";
          confirmpassworderror.textContent = "";
          submitBtn.disabled = true;
        }
      } else {
        nameerror.textContent = "Name không được trống";
        usernameerror.textContent = "UserName không được trống";
        submitBtn.disabled = true;
      }
    } else {
      usernameerror.textContent = "";
      nameerror.textContent = "Name không được trống";
      submitBtn.disabled = true;
      }
  } else if (username && (password === confirmpassword) ){
      nameerror.textContent = "";
      submitBtn.disabled = false;
    }
}
function validate() {
  var name = nameInput.value;
  var username = usernameInput.value;
  var password = passwordInput.value;
  var confirmpassword = confirmpasswordInput.value;

  if (!confirmpassword) {
    if (!password) {
      if (!name) {
        if (!username) {
          nameerror.textContent = "";
          usernameerror.textContent = "";
          passworderror.textContent = "";
          confirmpassworderror.textContent = "";
          submitBtn.disabled = true;
        } else {
          passworderror.textContent = "";
          confirmpassworderror.textContent = "";
          usernameerror.textContent = "";
          nameerror.textContent = "Name không được trống";
          submitBtn.disabled = true;
        }
      } else {
        nameerror.textContent = "";
        usernameerror.textContent = "";
        passworderror.textContent = "";
        confirmpassworderror.textContent = "";
        submitBtn.disabled = true;
      }
    } else {
        if (!name) {
          if (!username) {
            nameerror.textContent = "Name Không được trống";
            usernameerror.textContent = "UserName không được trống";
            passworderror.textContent = "";
            confirmpassworderror.textContent = "";
            submitBtn.disabled = true;
          } else {
            passworderror.textContent = "";
            confirmpassworderror.textContent = "";
            usernameerror.textContent = "";
            nameerror.textContent = "Name không được trống";
            submitBtn.disabled = true;
          }
        } else {
            if (!username) {
              nameerror.textContent = "";
              usernameerror.textContent = "UserName không được trống";
              passworderror.textContent = "";
              confirmpassworderror.textContent = "";
              submitBtn.disabled = true;
            } else {
              passworderror.textContent = "";
              confirmpassworderror.textContent = "";
              usernameerror.textContent = "";
              nameerror.textContent = "";
              submitBtn.disabled = true;
            }
          }      
      }
  } else {
      if (!password) {
        if (!name) {
          if (!username) {
            nameerror.textContent = "Name không được trống";
            usernameerror.textContent = "UserName không được trống";
            passworderror.textContent = "Password không được trống";
            confirmpassworderror.textContent = "";
            submitBtn.disabled = true;
          } else {
            usernameerror.textContent = "";
            nameerror.textContent = "Name không được trống";
            passworderror.textContent = "Password không được trống";
            confirmpassworderror.textContent = "";
            submitBtn.disabled = true;
          }
        } else {
            if (!username) {
              nameerror.textContent = "";
              confirmpassworderror.textContent = "";
              usernameerror.textContent = "UserName không được trống";
              passworderror.textContent = "Password không được trống";
              submitBtn.disabled = true;
            } else {
                nameerror.textContent = "";
                confirmpassworderror.textContent = "";
                usernameerror.textContent = "";
                passworderror.textContent = "Password không được trống";
                submitBtn.disabled = true;
              }
          }
      } else {
        if (password !== confirmpassword) {
          if (!name) {
            if (!username) {
              nameerror.textContent = "Name không được trống";
              usernameerror.textContent = "UserName không được trống";
              confirmpassworderror.textContent = "Không chính xác";
              passworderror.textContent = "";
              submitBtn.disabled = true;
            } else {
                nameerror.textContent = "Name không được trống";
                usernameerror.textContent = "";
                confirmpassworderror.textContent = "Không chính xác";
                passworderror.textContent = "";
                submitBtn.disabled = true;
              }
          } else {
            if (!username) {
              nameerror.textContent = "";
              usernameerror.textContent = "UserName không được trống";
              confirmpassworderror.textContent = "Không chính xác";
              passworderror.textContent = "";
              submitBtn.disabled = true;
            } else {
                nameerror.textContent = "";
                usernameerror.textContent = "";
                confirmpassworderror.textContent = "Không chính xác";
                passworderror.textContent = "";
                submitBtn.disabled = true;
              }
          }
        } else {
            if (!name) {
              if (!username) {
                nameerror.textContent = "Name không được trống";
                usernameerror.textContent = "UserName không được trống";
                confirmpassworderror.textContent = "";
                passworderror.textContent = "";
                submitBtn.disabled = true;
              } else {
                  nameerror.textContent = "Name không được trống";
                  usernameerror.textContent = "";
                  confirmpassworderror.textContent = "";
                  passworderror.textContent = "";
                  submitBtn.disabled = true;
                }
            } else {
                if (!username) {
                  nameerror.textContent = "";
                  usernameerror.textContent = "UserName không được trống";
                  confirmpassworderror.textContent = "";
                  passworderror.textContent = "";
                  submitBtn.disabled = true;
                } else {
                    nameerror.textContent = "";
                    usernameerror.textContent = "";
                    confirmpassworderror.textContent = "";
                    passworderror.textContent = "";
                    submitBtn.disabled = false;
                  }
              }
        }
      }
  }
}
</script>