{{#unless showPartial}}
<div class="footerPartials"></div>
<footer class="footer bg-primary py-5">
  <div class="container footerPartials">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-light">About Us</h5>
        <p class="text-light">Welcome to our beverage website! We are a passionate team dedicated to bringing you exciting experiences and unique flavors.</p>
      </div>
      <div class="col-md-4">
        <h5 class="text-light">Contact Us</h5>
        <ul class="list-unstyled">
          <li class="text-light">Phone: +84 868-660-545</li>
          <li class="text-light">Email: natural@gmail.com</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-light">Follow Us</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f text-light"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter text-light"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram text-light"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="bg-light">
        <p class="text-center text-light mb-0">© 2023 Your Company. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
{{/unless}}
