<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <img src="{{baverage.imgbaverage}}" class="card-img-top" alt="Product Image">
          <div class="card-body">
            <h5 class="card-title">{{baverage.name}}</h5>
            <p class="card-text">{{baverage.describe}}</p>
            <p class="card-text">Giá: {{baverage.priceSizeL}} VND</p>
          </div>
        </div>
      </div>
    </div>
</div>